doctype html
html(lang="pt-br")
    head
        title PixiJS Sprites - 4
        style.
            * { padding: 0, magin: 0 };
    body
        div#app
        script(src="./pixi.js")
        script(src="./js/sprites4.js")