doctype html
html(lang="pt-br")
    head
        title PixiJS Stage (centro) - 2 
        style.
            * { padding: 0, magin: 0 };
    body
        div#app
        script(src="./pixi.js")
        script(src="./js/stage2.js")