doctype html
html(lang="pt-br")
    head
        title PixiJS Stage - 2
        style.
            * { padding: 0, magin: 0 };
    body
        div#app1
        div#app2
        script(src="./js/pixi.js")
        script(src="./js/stage.js")